*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-bar{
    width: 70%;
    height: 4rem;
    background-color: #eee;
    margin-bottom: 20px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}

.header{
    height: 170px;
    width: 70%;
    background-color:rgba(34, 139, 34, 0.521);
    border-radius: 3px;
    margin: 0px 0px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 7px 15px;
}

.navbar ul li a:hover{
    background-color: white;
    color: rgb(16, 77, 16);
    border-radius: 3px;
}

.header .logo{
    font-size: 30px;
    font-weight: bold;
    color:white;
}

.search{
    width: 300px;
    background-color: white;
    height:30px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.search input{
    width: 300px;
    border: none;
    outline: none;
    height: 30px;
}

.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 90px;
}

.fa-solid{
    color:rgba(34, 139, 34, 0.729);
}

.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(218, 165, 32, 0.608);
    color: white;
}

.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}

#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px
}

.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color:#eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color: rgba(218, 165, 32, 0.608);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items:center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px;
    border-top: 1px solid#333;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(218, 165, 32, 0.608);
    border-radius: 5px;
    padding: 15px;
}

.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2{
    font-size: 20px;
    color:brown;
}

button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgba(218, 165, 32, 0.608);
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

.button:hover{
    background-color: #333;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgba(218, 165, 32, 0.608);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover{
    cursor: pointer;
    color: #333;
}